body{
background-color: aquamarine;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Userinput{
    height: 35px;
    width: 300px;
    font-size: 16px;
}
